div>.jumbotron{
    margin-top: 2%;
    background-color: #ffece5;
    margin-top: 70px;
}
.st4{
    width: 50%;
    margin: auto;
    
}

.invalid{
    color: #dc3545;
}

.valid{
    color: #28a745;
    font-size: 90%;
}